<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand ms-2" href="#"><img src="/assets/images/logo.jpg" alt="Zombicide Logo" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Navegación de palanca">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><font style="vertical-align: inherit;">Jugar</font></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><font style="vertical-align: inherit;">Manuales</font></a>
        </li>
      </ul>
      <ul class="navbar-nav me-4">
        <li class="nav-item">
            <a class="nav-link" href="#">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>