<div class="row inicio">
    <div class="position-absolute turn">
        <h3>Actual Turn: {{actualTurn.name}}</h3>
        <h4>Actions left: {{actions}}</h4>
    </div>
    <div class="position-absolute backpack col-3">
        <div class="row">
            @for (item of actualTurn.backpack; track $index) {
                <div class="col-4"><img [src]="'./../../assets/images/equipment/' + item.name + '.png'" [alt]="item.name" width="60px"
                    height="120px"></div>
            }
        </div>
    </div>
    <div class="col-12">
        <!--Este es el tablero formado por dos filas y 2 columnas para un total de 4 trozos de tablero-->
        @for (row of boards; track row; let ind = $index) {
        <div class="row position-relative">
            @for (columns of row; track columns; let idx = $index){
            <div class="col-6">
                <img [src]="'./../../assets/images/boards/' + columns + '.png'" [alt]="'Tablero '+columns" width="275px"
                    height="275px" class="board-image">
                <app-boxes [objectives]="board[ind][idx]">
                </app-boxes>
            </div>
            }
        </div>
        }
        <div class="position-absolute weapons col-3">
            <div class="row">
                <div class="col-4"><img [src]="'./../../assets/images/equipment/' + actualTurn.leftHand.name" [alt]="actualTurn.leftHand.name" width="60px"
                    height="120px"></div>
                <div class="col-4"><img [src]="'./../../assets/images/equipment/' + actualTurn.rigthHand.name" [alt]="actualTurn.rigthHand.name" width="60px"
                    height="120px"></div>
            </div>
        </div>
        <div class="position-absolute controls">
            <div>
                <a class="btn btn-primary" (click)="movePlayer(actualTurn,-1,0)">Moverse Arriba</a>
                <a class="btn btn-primary" (click)="movePlayer(actualTurn,1,0)">Moverse Abajo</a>
            </div>
            <div>
                <a class="btn btn-primary" (click)="movePlayer(actualTurn,0,-1)">Moverse Izquierda</a>
                <a class="btn btn-primary" (click)="movePlayer(actualTurn,0,1)">Moverse Derecha</a>
            </div>
            <div>
                <button class="btn btn-danger" (click)="attackPlayer(actualTurn)">Atacar</button>
                <button class="btn btn-warning" (click)="attackDoor(actualTurn)">Abrir Puerta</button>
                <button class="btn btn-success" (click)="searchEquipment(actualTurn)">Buscar Suministros</button>
            </div>
        </div>
    </div>
</div>