.inicio{
    margin: 12% auto;
    width: fit-content;
}
.col-6{
    padding: 0 !important;
}
  
.board-image{
    position: relative;
    z-index: -1;
}
.row.position-relative {
    position: relative;
}

.turn{
    left: 0px;
    top: 100px
}

.backpack{
    left: 0px;
    top: 400px
}

.controls{
    right: 0px;
    top: 700px
}

.backpack img{
    width: 100%;
    height: 100%;
}