<div class="row row1">
    <div class="col-4 col1">
        @for(objective of objectives.row1.col1; track objective){
        <div>
            @if(isNotString(objective)){
                @if(isCharacter(objective) || isZombie(objective)){
                    <img src="./../../assets/images/objective/{{objective.name}}.png" class="imgSuper" [alt]="objective.name">
                }@else{
                    <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
                }
            }@else{
            <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
            }
        </div>
        }
    </div>
    <div class="col-4 col2">
        @for(objective of objectives.row1.col2; track objective){
        <div>
            @if(isNotString(objective)){
                @if(isCharacter(objective) || isZombie(objective)){
                    <img src="./../../assets/images/objective/{{objective.name}}.png" class="imgSuper" [alt]="objective.name">
                }@else{
                    <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
                }
            }@else{
            <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
            }
        </div>
        }
    </div>
    <div class="col-4 col3">
        @for(objective of objectives.row1.col3; track objective){
        <div>
            @if(isNotString(objective)){
                @if(isCharacter(objective)|| isZombie(objective)){
                    <img src="./../../assets/images/objective/{{objective.name}}.png" class="imgSuper" [alt]="objective.name">
                }@else{
                    <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
                }
            }@else{
            <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
            }
        </div>
        }
    </div>
</div>
<div class="row row2">
    <div class="col-4 col1">
        @for(objective of objectives.row2.col1; track objective){
        <div>
            @if(isNotString(objective)){
                @if(isCharacter(objective)|| isZombie(objective)){
                    <img src="./../../assets/images/player/{{objective.name}}.png" class="imgSuper" [alt]="objective.name">
                }@else{
                    <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
                }
            }@else{
            <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
            }
        </div>
        }
    </div>
    <div class="col-4 col2">
        @for(objective of objectives.row2.col2; track objective){
        <div>
            @if(isNotString(objective)){
                @if(isCharacter(objective)|| isZombie(objective)){
                    <img src="./../../assets/images/player/{{objective.name}}.png" class="imgSuper" [alt]="objective.name">
                }@else{
                    <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
                }
            }@else{
            <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
            }
        </div>
        }
    </div>
    <div class="col-4 col3">
        @for(objective of objectives.row2.col3; track objective){
        <div>
            @if(isNotString(objective)){
                @if(isCharacter(objective)|| isZombie(objective)){
                    <img src="./../../assets/images/player/{{objective.name}}.png" class="imgSuper" [alt]="objective.name">
                }@else{
                    <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
                }
            }@else{
            <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
            }
        </div>
        }
    </div>
</div>
<div class="row row3">
    <div class="col-4 col1">
        @for(objective of objectives.row3.col1; track objective){
        <div>
            @if(isNotString(objective)){
                @if(isCharacter(objective)|| isZombie(objective)){
                    <img src="./../../assets/images/player/{{objective.name}}.png" class="imgSuper" [alt]="objective.name">
                }@else{
                    <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
                }
            }@else{
            <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
            }
        </div>
        }
    </div>
    <div class="col-4 col2">
        @for(objective of objectives.row3.col2; track objective){
        <div>
            @if(isNotString(objective)){
                @if(isCharacter(objective)|| isZombie(objective)){
                    <img src="./../../assets/images/player/{{objective.name}}.png" class="imgSuper" [alt]="objective.name">
                }@else{
                    <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
                }
            }@else{
            <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
            }
        </div>
        }
    </div>
    <div class="col-4 col3">
        @for(objective of objectives.row3.col3; track objective){
        <div>
            @if(isNotString(objective)){
                @if(isCharacter(objective)|| isZombie(objective)){
                    <img src="./../../assets/images/player/{{objective.name}}.png" class="imgSuper" [alt]="objective.name">
                }@else{
                    <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
                }
            }@else{
            <img src="./../../assets/images/objective/{{objective}}.png" class="imgSuper" [alt]="objective">
            }
        </div>
        }
    </div>
</div>